@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currency-exchange {
    background-color:  #191970;
    padding: 30px 100px;
    border-radius: 10px;
    height: 50vh;
}

h1 {
    color: white;
}

label {
    font-weight: 700px;
    margin-bottom: 5px;
    display: block;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #696969;
    border-radius: 4px;
}

input[type="number"]:focus,
select:focus {
    border-color:  #192080;
    outline: none;
}

input:focus {
    border-color: #192080;
    outline: none;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #696969;
}

#currency-search {
    display: none;
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}



 
@media (max-width: 360px) {
    body{
        height: auto;
    }
    

    section{
        width: 100%;  
      
    }

    #currency-exchange{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #currency-exchange {
        height: fit-content; 

    }

    input {
    width: 40px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #696969;
    }

    #currency_converter{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .currency-pair {
        width: 40%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0; 
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px; 
        box-sizing: border-box; 
    }

    .currency-pair2 {
        width: 40%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0; 
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 3px; 
        box-sizing: border-box; 
    }

    button{
        color: white;
        width: 80%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0;
        font-size: 16px;
        font-weight: ;
        border: 1px solid #ccc;
        background-color: #191970;
        border-radius: 3px; 
        box-sizing: border-box; 
    }


    .input-text {
        width: 80%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0; 
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        border-radius: 3px; 
        box-sizing: border-box; 
        text-align: end;
    }
    

    input[type="number"]:focus,
    select:focus {
    border-color:  #192080;
    outline: none;
    }

    input:focus {
    border:2px solid #192080;
    outline: none;
    
    }

    
   
    }

    
    

    

    

    
    

