@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#currency-exchange {
    background-color:  #00008B;
    padding: 30px 100px;
    border-radius: 10px;
    height: 50vh;
}

h1 {
    color: white;
}

label {
    font-weight: 700px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #696969;
}

#currency-search {
    display: none;
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}


 
@media (max-width: 360px) {
    body{
        height: auto;
    }
    

    section{
        width: 100%;  
      
    }

    #currency-exchange{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #currency-exchange {
        height: fit-content; 

    }

    input {
    width: px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #696969;
    }

    #currency_converter{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .currency-pair {
        width: 35%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0; 
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px; 
        box-sizing: border-box; 
    }

    .currency-pair2 {
        width: 35%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0; 
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 3px; 
        box-sizing: border-box; 
    }


    .input-text {
        width: 80%;
        max-width: 300px; 
        padding: 12px 20px; 
        margin: 10px 0; 
        font-size: 16px;
        font-weight: bold;
        background-color: white;
        border-radius: 3px; 
        box-sizing: border-box; 
        text-align: end;
    }
    

    img{
        height: 40px;
        background-color: #192080;
    }

    #swap-container {
        font-size: 30px;
        color: #000000;
        text-align: center;
        margin: 5px 5px;
        transition: transform 0.3s ease, color 0.3s ease;
      }
      
      #swap-container:hover {
        transform: scale(1);
        color: #ffffff;
      }
      

      

        button {
            font-size: 20px;
            padding: 10px 20px;
            background-color: #191970;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }
        
        
        button:hover {
            transform: scale(1);
            border: 2px solid white;
        }

        #currency-rate{
            font-size: large;
        }
        
    }
    
    

    

    

    
    

